@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #DFFCD8;
}

h1{
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
}
h2{
    font-size: 40px;
    font-weight: 200;
}
h3{
    font-size: 30px;
}
.navbar { 
    background: #c8f5ed;
    min-height: 10px;
}
.nav-link{
    color: #1a1a1a;
}
.nav-link:hover{
    color: #1a1a1a;
}
.vendido{
    font-family: 'Pattaya', sans-serif;
    font-size: 50px;
}
.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}
#cuenta:hover{
    background-color: rgb(129, 216, 112);
}
.step{
    position: relative;
    display: flex;
    justify-content: center;
}
.step::after{
    content: '';
    border-right: 1px solid #1a1a1a;
    height: 60px;
    position: absolute;
    top: 34px;
    opacity: .2;
}
.color{
    color: rgb(255, 0, 106);
    right: 20px;
    font-size: 20px;
    font-weight: 600;
}
/*ESTILO DE LAS CARDS*/
.tarjeta-texto{
    padding: 80px 0px 0px;
}
.tarjeta a{
    text-decoration: none;
}
.box{
    width: 340px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
}
.slide-img{
    height: 450px;
    position: relative;
}
.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
}
.type{
    display: flex;
    flex-direction: column;
}
.type a{
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.text span{
    color: rgba(26, 26, 26, 0.5);
}
.price{
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
}
.price:hover{
    color: rebeccapurple;
}
.overplay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(95, 95, 236, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.buy-btn:hover{
    color: #ffffff;
    background-color: #f15fa3;
    transition: all ease 0.3s;
}
.overplay{
    visibility: hidden;
}
.slide-img:hover .overplay{
    visibility: visible;
}
/*PIE*/
footer{
    background: #9f8ad0;
}
.footer-content{
    display: flex;
    justify-content: center;
    padding: 30px 0 0;
}
.footer-content a{
    text-decoration: none;
    color: #DFFCD8;
}
.texto{
    margin: 0 10px;
    padding-bottom: 20px;
}
.brand{
    font-weight: 500;
    font-size: 40px;
}
.brand+p{
    font-weight: 500;
}
.social-media{
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 40px 0 0;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    
}
.social-media-icon:hover{
    background: #ffffff;
    color: #af9bdf;
}
.tarjeta-pago{
    display: flex;
    justify-content: center;
}
.pago{
    width: 40px;
    margin: 0 10px;
    padding-bottom: 40px;
}
/*BOTON*/
.text-box {
    margin-right: 150px;
	 margin-top: 40px;
}
.boton:link,
.boton:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.boton:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.boton:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: rgb(131, 245, 169);
    color: rgb(255, 255, 255);
}

.boton::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.boton:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.btn-open-popup{
    position: absolute;
    color: #D90C43;
    display: block;
    background: white;
    padding: 20px 50px;
    border-radius: 50px;
}